<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/nav") %> 
    <h1>Here are all your skills</h1>
    <ul>
        <% skills.forEach((s, i)=>{ %>
            <li>
                <a href="/skills/<%= i %>"><strong>Skill:</strong> <%= s.skill %> </a>
                -
                <stong>Level:</strong> <%= s.level %> 
            </li>

        <% }) %> 
    </ul>
</body>
</html>